.metric {
    width: fit-content;
}

.metric-single {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    font-size: 3rem;
    text-align: center;
}

.time-picker {
    display: flex;
    gap: -1px;

    input[type="radio"] {
        display: none;
    }

    label {
        display: inline-block;
        border: 1px solid black;
        font-size: 2rem;
        background: none;
        cursor: pointer;
        background-color: #ffffff;
        color: black;
        padding: 0.4rem;
        line-height: 1rem;
        font-family: "DM Mono", monospace;
        font-size: 1rem;
        box-shadow: 0.2rem 0.2rem 0 #353535;
    }

    label:not(:first-of-type) {
        /* border-left: none; */
    }

    label:first-of-type {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    label:last-of-type {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    input[type="radio"]:checked + label {
        box-shadow: 0.1rem 0.1rem 0 #353535;
        transform: translate(0.1rem, 0.1rem);
        z-index: -1;
    }
}

.content__small-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: 4rem;
}
