/* https://github.com/efficientcss/scaffolding */

@layer base {
    /* Remove all margins */
    * {
        margin: 0;
        padding: 0;
    }

    /* Force all elements, including controls
	 * to apply the default fonts. */
    * {
        font-family: inherit;
    }

    /* Ensure that they are not displayed
	 * when integrated into content. */
    link,
    script {
        display: none;
    }

    /* Restrict images to dimensions
	 * of their parent. Avoid space
	 * line height (inline vs. block) */
    img {
        display: block;
        max-width: 100%;
        object-fit: cover;
    }

    /* Keep dot inside
	 * of the text column */
    ul,
    ol {
        padding-left: var(--bullet-padding, 1.1em);
    }

    /* Better line heights, and don't adjust text size because we are responsive already. */
    html {
        line-height: 1.4;
        text-size-adjust: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    /* Better graphic style than the browser's */
    hr {
        max-height: 0;
        line-height: 0;
        border: none;
        border-top: 2px solid currentColor;
    }

    /* Prepare svg to be manipulated */
    use,
    svg,
    path {
        fill: inherit;
    }

    /* Icons integrated into the text */
    i > svg {
        display: inline-block;
        height: 1.1ch;
        margin-right: var(--icon-spacing, 0.5em);
        margin-left: var(--icon-spacing, 0.5em);
    }

    /* Emphasis styles */
    p > em {
        font-style: italic;
    }

    /* Disable delay on iOS
	 * when tapping on an element */
    @media (hover: none) {
        html {
            touch-action: manipulation;
        }
    }
}
