package layouts

import (
	"fmt"
	"soikke.li/moreplease/pkg/model"
	c "soikke.li/moreplease/templates/components"
)

type Page struct {
	Site model.Site
	Page model.Page
}

templ (p Page) Render() {
	@Base(p.Site.Language, fmt.Sprintf("%s: %s", p.Site.Title, p.Page.Title)) {
		<div class="content wide">
			@c.TopicTitle(p.Page.Title)
			{ children... }
			@c.BottomNav(p.Page)
		</div>
	}
}
