:root {
    --baseline-gap: 1rem;
    --content-width-text: 40ch;
    --border-radius-tile: 0.7rem;
    --color-drop-shadow: rgb(21, 21, 21);
    --color-secondary-light: rgb(230, 234, 239);
    --container-narrow: 30rem;
    --container-wide: 60rem;
    --border-tile: 1px solid black;
    --drop-shadow-tile: 0.5rem 0.5rem 0 var(--color-drop-shadow);
}

@font-face {
    font-family: "Merriweather";
    src: url("Merriweather-Regular.ttf");
}

@font-face {
    font-family: "DM Mono";
    src: url("DMMono-Regular.ttf");
}

@font-face {
    font-family: "DM Mono";
    src: url("DMMono-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "DM Mono";
    src: url("DMMono-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@layer common {
    html {
        font-family: Merriweather, serif;
    }

    a {
        color: inherit;
    }

    h1,
    h2,
    h3 {
        font-family: "DM Mono";
        font-style: italic;
    }

    h1 {
        font-weight: 400;
    }

    i {
        font-style: italic;
    }

    ol {
        list-style: none;
        padding-inline-start: 0;
    }

    .action {
        text-decoration: underline;
        cursor: pointer;
    }

    .centered {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: calc(var(--baseline-gap) * 2);
    }

    .content__two-column {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(var(--content-width-text), 1fr)
        );
        row-gap: calc(var(--baseline-gap) * 8);
        column-gap: calc(var(--baseline-gap) * 4);

        /* Sort of a hack. Don't want to add "content" class to every div in topics. */
        p + p {
            margin-top: calc(var(--baseline-gap) * 2);
        }
    }

    .content__horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: calc(var(--baseline-gap) * 2);
    }

    .content--narrow {
        max-width: var(--container-narrow);
    }

    .content--wide {
        max-width: var(--container-wide);
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        color: gray;
        font-family: "DM Mono";

        > * {
            flex-grow: 1;
        }

        > *:first-child {
            text-align: start;
        }

        > *:not(:first-child):not(:last-child) {
            text-align: center;
        }

        > *:last-child {
            text-align: end;
        }
    }

    .heading {
        font-family: "DM Mono";
        font-style: italic;
    }

    .heading--small {
        font-weight: 400;
    }

    .heading--med {
        font-weight: 500;
    }

    .heading__nav {
        margin-bottom: var(--baseline-gap);
    }

    .inline-code {
        font-family: "DM Mono", monospace;
        font-size: 1rem;
        white-space: pre;
        word-break: normal;
        word-wrap: normal;
    }

    .linkable {
        scroll-margin-top: calc(var(--baseline-gap) * 2);
    }

    .logo--width-full {
        width: 100%;
        height: auto;
    }

    .padded {
        padding: clamp(
            var(--baseline-gap),
            10vw,
            calc(var(--baseline-gap) * 4)
        );
    }

    .schema__toggle summary::after {
        content: attr(data-close);
    }

    .schema__toggle[open] summary::after {
        content: attr(data-open);
    }

    .schema:has(.schema__toggle[open]) {
        margin-bottom: calc(var(--baseline-gap) * 2);
    }

    .sticky {
        position: sticky;
        top: 2rem;
    }

    .sticky-container {
        justify-self: start;
    }

    .tile {
        border: var(--border-tile);
        border-radius: var(--border-radius-tile);
        padding: var(--baseline-gap);
        background-color: var(--color-secondary-light);
        box-shadow: var(--drop-shadow-tile);
    }

    .coffee {
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
