/* Set typographic scale to golden ditonic scale. */

h1 {
    font-size: 2.0582rem;
}
h2 {
    font-size: 1.618rem;
}
h3 {
    font-size: 1.272rem;
}
p,
li {
    font-size: 1rem;
}
small {
    font-size: 0.7862rem;
}
