@font-face {
    font-family: "Merriweather";
    src: url("Merriweather-Regular.ttf");
}

@font-face {
    font-family: "DM Mono";
    src: url("DMMono-Regular.ttf");
}

@font-face {
    font-family: "DM Mono";
    src: url("DMMono-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "DM Mono";
    src: url("DMMono-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

/* TODO: How to toggle this manually using the toggle button I made? */
:root {
    /* color-scheme: light dark; */
}

body {
    /* color: light-dark(#000000, #e8eaed); */
    /* background-color: light-dark(#ffffff, #202124); */
    font-family: Merriweather, serif;
    margin: 0;
    padding: 0 4rem;
}

/* body.has(#dark-light input:checked) { */
/* body { */
/* color-scheme: dark; */
/* } */

#dark-light {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    font-family: "SF Pro", serif;
}

#dark-light input {
    display: none;
}

#dark-light label {
    cursor: pointer;
}

/* #dark-light input:checked + label::after {
    content: attr(data-dark);
}

#dark-light input + label::after {
    content: attr(data-light);
} */

/* TODO: Needed because the code syntax highlighter renders <pre> tags with no class by default. */
pre {
    margin-top: 0;
}

a {
    color: inherit;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
}

p {
    margin: 1rem 0;
}

.logo {
    display: grid;
    align-items: center;
    font-family: "DM Mono";
    font-size: 6rem;
    font-style: italic;
    margin: 2rem 0;
    row-gap: 1rem;
}

.logo-line {
    margin: -0.5rem 0;
}

.logo-coloured {
    color: #ffa62b;
    font-style: italic;
    font-weight: 500;
    padding: 0;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.title {
    margin: 2rem 0;
}

.topic-title {
    font-family: "DM Mono";
    font-style: italic;
}

.title-em {
    font-weight: 600;
}

.footer {
    color: gray;
    /* display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; */
}

.action {
    text-decoration: underline;
    cursor: pointer;
}

.narrow {
    max-width: 27rem;
}

.wide {
    max-width: 60rem;
}

.content {
    margin: 0 auto;
    container-type: inline-size;
}

.content ul {
    list-style: none;
    padding-left: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

@container (min-width: 60rem) {
    .container {
        grid-template-columns: 2fr 3fr;
        row-gap: 6rem;
    }

    /* If we have one item e.g. a schema with one table, place it in the 2nd column with the code examples */
    .container:has(> :only-child) > :only-child {
        grid-column: 2;
    }
}

.tables {
    margin-top: 2rem;
}

.toggle {
    margin: 2rem 0;
}

.toggle[open] {
    margin: 2rem 0 4rem 0;
}

.toggle summary::after {
    content: attr(data-close);
}

.toggle[open] summary::after {
    content: attr(data-open);
}

.toggle .container {
    margin-top: 2rem;
}

.tablename {
    /* font-weight: bold; */
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.tile {
    border: 1px solid black;
    border-radius: 0.7rem;
    padding: 1rem;
    justify-self: start;
    align-self: start;
    box-shadow: 0.5rem 0.5rem 0 #353535;
}

.sticky {
    position: sticky;
    top: 2rem;
}

.sticky-container {
    justify-self: start;
}

.inline-code {
    font-size: 1rem;
}

.inline-tile {
    border: 1px solid black;
    border-radius: 0.2rem;
    line-height: 1;
    padding: 0.1rem 0.3rem;
}
