package templates

templ Base(title string) {
    <html>
    <head>
    <link rel="stylesheet" href="assets/styles.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <title>{ title }</title>
    </head>
    <body>
        /* <div id="dark-light">
            <input id="dark-light-toggle" type="checkbox">
            <label for="dark-light-toggle">◐</label>
        </div> */
        { children... }
    </body>
    </html>
}
