package templates

import (
	"fmt"
	"soikke.li/moreplease/models"
)

// Link links to an internal page on the site. An optional link text can be provided, otherwise the link text will be the page's title.
templ Link(page models.Page, fragment string) {
	{{
	href := page.URL
	if fragment != `` {
		href += fmt.Sprintf("#%s", fragment)
	}
	ch := templ.GetChildren(ctx)
	}}
	<a href={ templ.URL(href) }>
		if ch != nil {
			{ children... }
		} else {
			page.Title
		}
	</a>
}
