package templates

import "soikke.li/moreplease/models"

templ BottomNav(page models.Page) {
	<div>
		<small class="footer">
			if page.Prev != nil {
				<span class="italic"><a href={ templ.URL(page.Prev.URL) }>previous: { page.Prev.Title }</a></span>
			}
			<span class="italic"><a href="/">home</a></span>
			if page.Next != nil {
				<span class="italic"><a href={ templ.URL(page.Next.URL) }>next: { page.Next.Title }</a></span>
			}
		</small>
	</div>
}
