package templates

templ TopicTitle(name string) {
    <div class="title">
        <h1 class="heading">
            <a href="/">More SQL Please</a>: <span class="title-em">{ name }</span>
        </h1>
    </div>
}
