package components

templ Coffee() {
	<div class="coffee">
		<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" integrity="sha256-pyonVwm7hmHrD0g6YG0pCmcbOi3ip98R66NAgqrbTXQ=" data-id="mikesoikkeli" data-description="Support me on Buy me a coffee!" data-message="Your support helps keep More SQL Please a peaceful place to learn SQL. Thank you for making that possible! ✨" data-color="#ffdd00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
	</div>
}
