package components

import "soikke.li/moreplease/pkg/model"

templ Contents(sections []model.Section) {
	<ul class="index">
		for _, section := range sections {
			<li>
				<h3><i>{ section.Title }</i></h3>
			</li>
			for _, page := range section.Pages {
				<li>
					if page.Enabled {
						<a href={ templ.URL(page.URL) }>{ page.Title }</a>
					} else {
						<span class="disabled">{ page.Title }</span>
					}
				</li>
			}
			<br/>
		}
	</ul>
}
