package components

templ Footer() {
	<nav class="nav nav__footer small">
		<span>
			<i>
				by
				<a href="http://soikke.li">Mike Soikkeli</a>
			</i>
		</span>
		<span>
			<i>
				<a href="https://github.com/soikes/moreplease">source</a>
			</i>
		</span>
		<span>
			<i>
				<a href="https://github.com/soikes/moreplease/blob/main/LICENSE">license</a>
			</i>
		</span>
		<span>
			<i>
				<a href="https://buymeacoffee.com/mikesoikkeli">☕️ Buy me a Coffee!</a>
			</i>
		</span>
	</nav>
}
