package components

import (
	"fmt"
	"soikke.li/moreplease/pkg/model"
)

templ InlineSQL(code string) {
	<span class={ fmt.Sprintf("inline-code %s", model.LanguageSQL.CSSClass()) }>
		<code>{ code } </code>
	</span>
}
